<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
    <%= partial "partials/templates" %>
  </head>
  <body class="<%= page_classes %>">
    <div class="content">
      <div class='application_container'></div>
    </div>
    <%= partial "partials/javascripts" %>
  </body>
</html>
